{% extends "./template.njk" %}

{% block content %}
<form class="guest form">
<h1 class="bold header">Log In</h1>
<div class="form row">
<label for="email">Email:</label>
<input id="email" type="email" placeholder="your@email.com" />
</div>
<div class="form row">
<label for="password1">Password:</label>
<input id="password1" type="password" placeholder="Password" />
</div>
<div class="form row">
<p class="small centered text full paragraph">
<a href="/reset-password" class="regular link">Forgot Your Password?</a>
</p>
</div>
<div class="form row">
<button class="centered item" type="submit">Log In</button>
</div>
</form>
<p class="centered text"><a href="/signup">Sign Up</a> instead?</p>
{% endblock %}