{% extends "./template.njk" %}

{% block content %}
<form class="guest form">
<h1 class="bold header">Sign Up</h1>
<div class="form row">
<label for="email">Email:</label>
<input id="email" type="email" placeholder="your@email.com" />
</div>
<div class="form row">
<label for="username">Username:</label>
<input id="username" type="text" placeholder="pizzapaws15" />
</div>
<div class="form row">
<label for="password1">Password:</label>
<input id="password1" type="password" placeholder="Password" />
</div>
<div class="form row">
<label for="password2">Confirm:</label>
<input id="password2" type="password" placeholder="Confirm Password" />
</div>
<div class="form row">
<p class="small centered text medium paragraph">
By signing up you agree that you are at least 13 years of age and that you agree to our <a href="/pages/terms-of-service" class="regular link">Terms of Service</a> and <a href="/pages/privacy" class="regular link">Privacy Policy</a>.
</p>
</div>
<div class="form row">
<button class="centered item" type="submit">Sign Up</button>
</div>
</form>
<p class="centered text"><a href="/login">Log In</a> instead?</p>
{% endblock %}