/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
/* Import Normalize CSS */
@import url('./normalize.css');

/* Set Root Variables */
:root {
  --background: #180C0C;
  --lighterbg: #271616;
  --foreground: #faeded;
  --darkest: #0e0606;
  --lighter: #f8efef;
}

/* Set universal font */
* { font-family: 'Roboto', sans-serif; font-weight: 300; }

/* Body styles */
body {
  margin: auto;
  background: var(--background);
  color: var(--foreground);
  font-size: 1.2rem;
  display: flex;
  flex-flow: column wrap;
  justify-items: flex-start;
  min-height: 100vh;
}

/* Input, button, textarea */
input, button, textarea {
  background: var(--background);
  color: var(--foreground);
  margin: 8px;
  border: none;
  padding: 4px;
}

input:focus,
button:hover,
button:active,
textarea:focus {
  background-color: var(--lighterbg);
}

/* Set Placeholder color */
::placeholder {
  color: var(--lighter);
  opacity: 0.8;
}

/* Make images fit the full width of their parent */
img {
  width: 100%;
}

/* Master Container */
/* 
 * Parent element for everything inside <body>
 * Direct children:
 * - Aside: sidebar
 * - Main: main content
*/
section#master-container {
  flex-grow: 1;
  display: flex;
  margin: auto;
}

/* Master Container Child: Aside */
section#master-container > aside {
  background: var(--darkest);
  color: inherit;
}

/* Master Container Child: Main */
section#master-container > main {
  display: flex;
  flex-flow: column nowrap;
  align-content: stretch;
}

/* Master Container: mobile portrait layout only */
@media only screen 
and (max-width: 800px)
and (orientation: portrait) {
  section#master-container {
    flex-flow: column wrap;
    width: 100%;
    margin-bottom: 5vh;
  }
  section#master-container > aside {
    width: 100%;
    margin-bottom: 10vh;
  }
  section#master-container > main {
    width: 94%;
    margin: auto;
  }
}

/* Master Container: all other screen layouts */
@media only screen
and (min-width: 801px) {
  section#master-container {
    flex-flow: row nowrap;
    justify-content: flex-end;
  }
  section#master-container > main {
    width: 62%;
    margin: 4%;
  }
  section#master-container > aside {
    width: 30%;
  }
}

/* Sidebar Properties */
/* Only H3s with a sidebar class */
h3.sidebar {
  font-family: 'Fredericka the Great', cursive;
  background: var(--lighter);
  opacity: 0.5;
  color: var(--darkest);
  padding-inline-start: 1vw;
  margin: 0;
}

/* Only H4s with a sidebar class */
h4.sidebar {
  text-align: center;
}

/* Link children of sidebar H4s */
h4.sidebar > a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

h4.sidebar > a:hover,
h4.sidebar > a:active {
  text-decoration: underline;
}

form.sidebar {
  display: flex;
  width: 90%;
  margin: auto;
  flex-flow: column wrap;
  padding-bottom: 4vh;
  padding-inline-start: 0;
}

/* All paragraph tags inside master container's child aside */
section#master-container > aside > p {
  width: 85%;
  margin: 0.5rem auto;
  text-align: justify;
}

/* these styles only applies to the front page */
article#frontpage {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 65%;
  flex-grow: 2;
}

article#frontpage > img {
  width: 30%;
  margin: 1% auto;
}

section#master-container > main > footer {
  margin-top: 4vh;
  margin-bottom: -2vh;
  font-size: small;
  border-top: 1px solid var(--foreground);
  padding-top: 2vh;
}